Options -Indexes
DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
    RewriteEngine On
</IfModule>

<IfModule mod_php.c>
    php_value upload_max_filesize 16M
    php_value post_max_size 16M
    php_value max_execution_time 60
    php_value memory_limit 256M
</IfModule>
